body {
  font-family: "Montserrat", sans-serif;
  color: #111;
  font-style: normal;
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

a:visited {
  color: none;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  /* max-width: 1200px; */
  max-width: 375px;
  /* padding: 0 32px; */
  padding: 0 20px;
  margin: 0 auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-------------HEADER---------------*/

.header-container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-logo {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-grow: 1;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  text-transform: uppercase;
}

.header-logo:hover .header-logo-icon,
.header-logo:focus .header-logo-icon {
  transform: scale(1.1);
}

.header-logo-icon {
  fill: transparent;
  stroke: #fd9222;
  transition: transform 150ms ease-in-out;
}

.nav-list {
  display: flex;
  gap: 24px;

  align-items: center;
  margin-left: auto;
  margin-right: 190px;
}

.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111111;
  transition: color 250ms ease-in-out;
}

.nav-item:hover,
.nav-item:focus {
  color: #fd9222;
}

.header-soc-list {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-left: auto;
}

.header-soc-list-item {
}

.header-soc-list-icon {
  stroke: #111;
  fill: transparent;
  transition: transform 250ms ease-in-out, stroke 250ms ease-in-out;
}

.header-soc-list-icon:hover,
.header-soc-list-icon:focus {
  stroke: #fd9222;
  transform: scale(1.2);
}

/*-------------HERO---------------*/

.hero-container {
  border-radius: 30px;
  width: 1136px;
  height: 600px;
  background-color: rgba(17, 17, 17, 0.6);
  padding: 380px 40px 40px 40px;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.2) 0%,
      rgba(17, 17, 17, 0.2) 100%
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 80px;
}

.hero-txt {
  max-width: 484px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
}

.hero-btn {
  display: flex;
  align-items: center;
}

.hero-btn-buy {
  border-radius: 100px;
  padding: 14px 40px;
  width: 144px;
  height: 45px;
  background-color: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: none;
  margin-right: 14px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-buy:hover,
.hero-btn-buy:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.hero-btn-howmade {
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  height: 45px;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-howmade:hover,
.hero-btn-howmade:focus {
  border-color: #fd9222;
  color: #fd9222;
}

.hero-scroll {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 14px;
}

.hero-scroll-txt {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 38px;
  border: none;
  background-color: #fff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-scroll-icon {
  fill: #fd9222;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll:hover .hero-btn-scroll-icon,
.hero-scroll:focus .hero-btn-scroll-icon {
  fill: #fcf1e0;
  transform: scale(1.5);
}
.hero-scroll:hover .hero-scroll-txt,
.hero-scroll:focus .hero-scroll-txt {
  color: #fd9222;
}

.hero-btn-scroll:hover,
.hero-btn-scroll:focus {
  background-color: #fd9222;
}
.hero-btn-scroll:hover .hero-btn-scroll-icon {
  fill: #fff;
}

/*-------------ABOUT US---------------*/

.about-us {
  background-color: #1e1823;
  margin-bottom: 120px;
}

.about-us-container {
  padding: 50px 18px;
}

.about-us-list {
  display: flex;
  flex-direction: column;
  /* gap: 88px; */
  gap: 20px;
}

.about-us-list-item {
  /* width: calc((100% - 176px) / 3); */
  position: relative;
}

.about-us-list-item:hover .about-us-icon-container {
  transform: rotateX(360deg);
}

/* .about-us-list-item:not(:last-child):after {
  content: " ";
  display: block;
  background: rgba(255, 255, 255, 0.5);
  width: 124px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 310px;
  transform: rotate(90deg);
} */

.about-us-icon-container {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
  transition: transform 1500ms ease-in-out;
}

.about-us-icon {
  fill: #fd9222;
}

.about-us-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.about-us-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
  width: 308px;
}

/*-------------TASTE----------------------*/

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  /* min-width: 460px; */
  width: 238px;
  margin: auto;
  /* margin-bottom: 50px; */
  margin-bottom: 27px;
}

.section-title-span {
  color: #fd9222;
}

.taste-img-txt-container {
  /* margin-bottom: 120px; */
  margin-bottom: 80px;
}

.taste-img-list {
  display: flex;
  /* gap: 32px; */
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.taste-img-list-item:nth-child(n) {
  background-color: #fd9222;
  color: #fff;
  stroke: #fff;
}

.taste-img-list-item:nth-child(2n) {
  background-color: #fff;
  color: #111;
  stroke: #fd9222;
  border: 1px solid #fd9222;
}
.taste-img-list-item:nth-child(3),
.taste-img-list-item:nth-child(7) {
  background-color: #111;
  color: #fff;
  stroke: #fff;
}

.taste-img-list-item {
  border-radius: 15px;
  width: 260px;
  height: 270px;
  position: relative;
  overflow: hidden;
}

.taste-img-list-item:hover .taste-hidden-container {
  transform: translateX(0);
}

.taste-img-container {
  position: relative;
  padding: 28px 23px 28px 23px;
}

.taste-icon {
  fill: transparent;
  margin-left: auto;
  position: absolute;
  top: 15px;
  right: 15px;
}

.taste-img {
  margin-bottom: 36px;
}

.taste-img-txt {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.taste-hidden-container {
  background-color: #fff;
  padding: 20px 15px;
  width: 100%;
  height: 100%;
  padding: 20px 15px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(-101%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.taste-hidden-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 8px;
}

.taste-hidden-btn-container {
  display: flex;
  gap: 6px;
  margin-bottom: 14px;
}

.taste-yellow-btn {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
  border: none;
  background-color: #fd9222;
  border-radius: 35px;
  padding: 6px 16px;
  height: 24px;
  padding: 6px 16px;
}
.taste-benefit-btn {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #111;
  border: 1px solid #fd9222;
  border-radius: 35px;
  padding: 6px 16px;
  height: 24px;
  padding: 6px 16px;
}

.taste-hidden-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/*-------MADE--------------*/

.made-container {
  /* margin-bottom: 120px; */
  margin-bottom: 80px;
}

.made-img-txt-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.made-img-txt-img {
  flex-shrink: 0;
}

.made-img {
  border-radius: 15px;
  width: 335px;
}

.made-img-txt-txt {
  background-color: #fff;
  border-radius: 15px;
  /* padding: 32px; */
  padding: 20px 14px;
  /* display: flex;
  flex-direction: column; */
}

.made-txt-label {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: black;
  /* margin-bottom: 28px; */
  margin-bottom: 20px;
  /* width: 350px; */
  width: 307px;
}

.made-txt-container {
  padding-left: 16px;
}

.made-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: black;
}

/* .made-list-item::before {
  content: "*";
} */

.made-list-item {
  margin-bottom: 24px;
}

/*-----PRODUCT------------*/

.product-container {
  margin-bottom: 120px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.product-list-item {
  background-color: #fff;
  padding: 32px 20px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: calc((100% - 54px) / 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.product-img {
  margin-bottom: 13px;
}

.product-lable {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: black;
  margin-bottom: 2px;
}

.product-txt {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 13px;
}

.product-price {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  height: 33px;
  font-weight: 600;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
}

/*--------------SELLERS---------*/

.sellers-container {
  margin-bottom: 120px;
}

.sellers-list {
  display: flex;
  gap: 16px;
}

.sellers-list-item {
  width: calc((100% - 32px) / 3);
  position: relative;
  overflow: hidden;
}

.sellers-label-container {
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: #fff;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
}

.sellers-lable {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: black;
  text-align: center;
}

.sellers-hidden {
  padding: 160px 40px;
  backdrop-filter: blur(15px);
  background: linear-gradient(
    161deg,
    rgba(253, 253, 255, 0.1) 0%,
    rgba(8, 2, 21, 0.1) 100%
  );
  position: absolute;
  top: 0;
  transform: rotateX(90deg);
  transition: transform 1000ms ease-in-out;
  border-radius: 15px 15px 0 0;
}

.sellers-list-item:hover .sellers-hidden,
.sellers-list-item:focus .sellers-hidden {
  transform: rotateX(0);
}

.sellers-hidden-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
  text-align: left;
}

/*-----------LOVED----------*/

.loved-container {
  margin-bottom: 120px;
}

.loved-list {
  display: flex;
  gap: 28px;
  margin-bottom: 50px;
  margin-top: 90px;
}

.loved-list-item {
  width: calc((100% - 56px) / 3);
  padding: 56px 24px 24px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  position: relative;
}

.loved-img {
  position: absolute;
  top: -43px;
  right: 38%;
}

.loved-lable {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: black;
  margin-bottom: 24px;
}

.loved-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.loved-btn {
  display: block;
  border: 1px solid orange;
  border-radius: 100px;
  background-color: transparent;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
  font-weight: 600;
  font-size: 18px;
  color: black;
  margin: 0 auto;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.loved-btn:hover,
.loved-btn:focus {
  background-color: #fd9222;
  color: #fff;
}

.loved-btn:active {
  transform: scale(1.025);
}

/*----------FOOTER-------*/

.footer {
  background-color: #1e1823;
}

.footer-top-container {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
}

.footer-lable {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 300px;
}

.footer-soc-addres {
  display: flex;
  gap: 50px;
}

.footer-soc-list-icon {
  stroke: #fff;
  fill: transparent;
  transition: transform 250ms ease-in-out, stroke 350ms ease-in-out;
}

.footer-soc-list-icon:hover,
.footer-soc-list-icon:focus {
  transform: scale(1.2);
  stroke: #fd9222;
}

.footer-accent {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: white;
  margin-bottom: 14px;
}

.addres-linc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
  font-style: normal;
  transition: color 250ms ease-in-out;
}

.addres-linc:hover,
.addres-linc:focus {
  color: #fd9222;
  transform: scale(1.5);
}

.footer-bottom-container {
  padding: 24px 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: white;
}

.footer-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 13px 24px;
  width: 313px;
  height: 52px;
  background-color: transparent;
  color: #fff;
}

.footer-btn {
  border-radius: 100px;
  padding: 17px 33px;
  width: 137px;
  height: 52px;
  background-color: #fd9222;
  border: none;
  margin-left: 8px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.footer-btn:active {
  transform: scale(1.025);
}

/*-----------MODAL----------*/
.modal {
  background-color: rgba(253, 147, 34, 0.404);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  width: 517px;
  padding: 24px 24px 40px 40px;
}

.modal-close-btn {
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-icon {
  fill: black;
  stroke: black;
}

.section-title {
  width: 298px;
  margin-bottom: 30px;
}

.modal-label {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  margin-bottom: 8px;
}

.modal-input {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px;
  width: 437px;
  height: 60px;
  margin-bottom: 18px;
}

.modal-input:hover,
.modal-input:focus {
  border-color: #fd9222;
  outline: none;
}

.modal-textarea {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px 93px 24px;
  width: 436px;
  height: 137px;
  margin-bottom: 18px;
}

.modal-textarea:hover,
.modal-textarea:focus {
  border-color: #fd9222;
  outline: none;
  resize: none;
}

.input-check-txt {
  margin-bottom: 40px;
}

.modal-check {
}

.modal-btn {
  border-radius: 100px;
  padding: 14px 40px;
  width: 117px;
  height: 45px;
  font-weight: 600;
  font-size: 14px;
  color: white;
  background-color: #fd9222;
  border: none;
}
